// IMPORT SETUP STYLES
//===================================================
@import "setup";

// VARIABLES
//===================================================
$black: #000;   
$blue: #1893cc;
$green: #bed993;     
$white: #f7f6ed; 


// HELPER STYLES
// ===================================================

.hidden {
	// display: none;
}

.block {
	display: block;
}

// GENERAL STYLES
// ===================================================


* {
	margin: 0;
}

html, 
body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lora', serif;
	font-weight: 700;
}

h1 {
	margin: 0;
	text-shadow: 2px 2px 0 black;
}
body{
	font-family: 'Josefin Sans', sans-serif;
	background: $blue;
	font-size: 10px;
}

.wrapper {

}

header {
	background-image: url("../images/grapes-background.jpg"); 
	background-color: rgba(43,7,7,0.4);
	background-blend-mode: darken;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;

}

.blackBar {
	width: 100%;
	height: 15px;
	background: black;
}
.grapes img {
	display: block;
	margin: 0 auto;
}

.airMiles {
	background: $blue;
	width: 100%;
	text-align: center;
		
	.airMilesTop {
		width: 100%;
		display: flex;
		align-items: center;
	}
	.airMilesLogo {
		float: left;
		width: 60%;
		padding: 50px;
		padding-left: 50px;
		display: block;
		
		img {
			width : 100%;
		}
	}

	.airMilesTitle {
		// background: pink;
		color: $white;
 		width: 40%;
		float: left;
		font-size: 2.1em;
		padding: 50px;
		height: 100%;
	}

	h2 {
		display: inline;
		margin: 0 50px;
		font-size: 2em;
	}

	.inputArea {
		clear: both;
		display: block;
		padding: 70px 0 70px 0;
		// border: 2px solid red;
	}

	input[type=text], 
	button {
		width: 25%;
		height: 60px;
		border-radius: 5px;
		text-transform: uppercase;
		display: inline-block;	
		border: none;
		font-size: 2em;
		padding: 10px;
	}


	button.submit {
		width: auto;
		margin-left:10px;
	}
	
	::-webkit-input-placeholder {
	 font-size: .8em;
	 color: grey;
	 text-transform: uppercase;
	 text-align: center;
	 font-weight: bold;
	 padding-left: -15px;
	 vertical-align: middle;

	}
	:-moz-placeholder { /* older Firefox*/
	 font-size:14px;
	 color: #d0cdfa;
	 text-transform: uppercase;
	 text-align: center;
	 font-weight: bold;
	}
	::-moz-placeholder { /* Firefox 19+ */ 
	 font-size: 14px;
	 color: #d0cdfa; 
	 text-transform: uppercase;
	 text-align: center;
	 font-weight: bold;
	} 
	:-ms-input-placeholder { 
	 font-size: 14px; 
	 color: #d0cdfa;
	 text-transform: uppercase;
	 text-align: center;
	 font-weight: bold;
	}
	button {
		background: $green;
		color: $black;
		font-weight: 700px;
		// text-shadow: 1px 1px 0 black, 0 0 5px black;
		font-size: 2em;
	}




}

.airMilesTitle {
	width: 40%;
	float: left;
}

.locations {
	width: 100%;
	height: 500px;
}
.stores {
	width: 30%;
	height: 100%;
	float: left;
	background: pink;
}

.storesTop {
	background: $black;
	color: $white;
	text-align: center;

	h3 {
		font-size: 2.5em;
		// text-shadow: 1px 2px 0 black;
		padding: 20px 0 10px 0;
	}
	h4 {
		font-size: 1.5em;
		padding-bottom: 20px;
	}
}

.storesBottom {
	background: $white;
	
	.store {
		padding: 15px 0;
		font-size: 1.8em;
		line-height: 1.3em;
	}
	.storeLeft {
		float: left;
		width: 25%;
		// background: white;
		text-align: center;
		color: $green;
		font-size: 2.3em;
		text-shadow: 0 0 2px black;
	}
	.storeRight {
		float: left;
		width: 75%;
	}
}
.map {
	width: 70%;
	height: 100%;
	float: left;
	background: orange;
}


.promotions {
	height: 600px;
	background: lavender;
}
.promotionsTitle {
	background: hotpink;
	color: $white;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 50px;

}
#map 
{ 
	height: 400px;
	width:100%; 
	padding: 20%
}
.locations {

	display:flex;
}
.stores {
	width: 40%;
	float: left;
	border: 1px solid green;
}
.map {
	width: 60%;
	border: 1px solid blue;
}
.gallery {
	background: $white;
	//max-width: 900px;
	margin: 0 auto 50px auto;


	.gallery-cell {
		background: red;
		width: 20%;
		margin: 30px 1.5%;
		height: 300px;
		margin: 0 10px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
}
.promotionsEnding {
	width: 100%;
	background: gold;
	display: flex;
	align-items: center;

	.promotionsEndingLeft {
		width: 50%;
		float: left;
		background: blue;
	}

	.promotionsEndingRight {
		width: 50%;
		float: left;
		font-size: 2.1em;
		padding-right: 10%;
	}
}
.promotionsEnding h2 {
	color: $blue;
	// background: $white;
	float: left;
}
.promotionsEnding img {
	width: 30%;
	float: right;
	margin-right: 40px;
}

footer {
	height: 60px;
	background: black;
	color: white;
	text-align: center;
	line-height: 60px;
	font-size: 1.5em;
}