article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* END OF SETUP STYLES */
.hidden {
  display: none;
}

.block {
  display: block;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: 700;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: #f7f6ed;
  font-size: 10px;
}

header {
  background-image: url("../images/grapes-background.jpg");
  background-color: rgba(43, 7, 7, 0.4);
  background-blend-mode: darken;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}

.grapes img {
  margin: 0 auto;
  width: 30%;
  padding: 2% 0;
}

.airMiles {
  background: #1893cc;
  width: 100%;
  padding: 0 10%;
}

.airMilesLogo {
  float: left;
  width: 40%;
  display: block;
  display: flex;
}

.airMilesLogo img {
  width: 100%;
  padding: 15% 0;
}

.airMilesTitle {
  color: #f7f6ed;
  width: 60%;
  float: left;
  padding: 4% 0 10% 4%;
}

h1 {
  font-size: 2.7rem;
  text-shadow: 2px 2px 0 #000;
}

.pr {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

#location {
  clear: both;
  display: block;
  padding: 2%;
}

input[type=text],
button {
  width: 300px;
  height: 60px;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  box-shadow: 2px 2px 5px #000;
}

button.submit {
  width: 150px;
  margin-left: 10px;
  font-size: 1.5rem;
  background: #bed993;
  color: #000;
  font-weight: 700px;
  margin-top: 30px;
}

::-webkit-input-placeholder {
  font-size: .8em;
  color: grey;
  text-transform: uppercase;
  text-align: center;
  padding-left: -15px;
  vertical-align: middle;
}

:-moz-placeholder {
  /* older Firefox*/
  font-size: 14px;
  color: #d0cdfa;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #d0cdfa;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

:-ms-input-placeholder {
  font-size: 14px;
  color: #d0cdfa;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.locations {
  width: 100%;
  padding: 0 10% 2% 10%;
  display: flex;
}

.stores {
  width: 30%;
  float: left;
  background: #f7f6ed;
  cursor: pointer;
}

.storesTop {
  background: #000;
  color: #f7f6ed;
  text-align: center;
}

.storesTop h3 {
  font-size: 2.5em;
  padding: 20px 0 10px 0;
}

.storesTop h4 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

h4.milesBlue {
  color: #1893cc;
}

.storeLeft {
  float: left;
  width: 25%;
  text-align: center;
  color: #bed993;
  font-size: 2.3em;
  text-shadow: 0 0 2px black;
}

.store {
  padding: 15px 0;
  font-size: 1.8em;
  line-height: 1.3em;
  background: #fff;
  border-bottom: 1px dotted #bed993;
}

.storeRight {
  float: left;
  width: 75%;
}

.storeRight p {
  font-size: 1rem;
}

.map {
  width: 70%;
  float: left;
}

.gallery-wrapper {
  margin: auto;
}

.promotionsEnding {
  width: 100%;
  display: flex;
  background-image: url("../images/grapes-background.jpg");
  background-color: rgba(43, 7, 7, 0.4);
  background-blend-mode: darken;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 3% 10%;
}

.promotionsEnding h2 {
  display: inline;
  font-size: 2rem;
  color: #f7f6ed;
  float: left;
  margin: 0 auto;
  padding: 0 20%;
  text-align: center;
}

.promotionsTitle h3 {
  color: #000;
  font-size: 2rem;
  text-align: center;
  padding: 5%;
}

.gallery {
  background: #f7f6ed;
  margin: 0 auto 50px auto;
  height: 500px;
}

.gallery-cell {
  background: #f7f6ed;
  width: 250px;
  margin: 30px 1%;
  height: 500px;
  margin: 0 10px;
  position: relative;
}

img {
  width: 100%;
  height: 70%;
}

p {
  background: #fff;
  color: #000;
  font-size: 20px;
}

footer {
  background-color: #f8f7ed;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 1.5em;
}

footer a {
  color: #bed993;
  text-decoration: none;
}

@media (max-width: 1040px) {
  h1 {
    font-size: 2rem;
  }
  input[type=text], button {
    width: 250px;
    height: 40px;
    font-size: 1.2rem;
  }
  button.submit {
    width: 100px;
    font-size: 1rem;
  }
}

@media (max-width: 755px) {
  h1 {
    font-size: 1.5rem;
  }
  input[type=text], button {
    width: 200px;
  }
  .storesTop h3 {
    font-size: 1.4rem;
    padding: 20px 0 10px 0;
  }
  .store {
    font-size: 1rem;
  }
  .locations {
    padding: 0;
  }
  .promotionsEnding h2 {
    font-size: 1.5rem;
  }
  .promotionsTitle h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 633px) {
  input[type=text], button {
    width: 200px;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .store, .map {
    float: none;
    clear: both;
    display: block;
  }
  .airMilesLogo {
    float: left;
    width: 70%;
    padding-top: 1%;
  }
  .airMilesLogo img {
    padding: 5% 0 0 0;
  }
  .airMilesTitle {
    width: 100%;
    padding: 2%;
  }
}
