// IMPORT SETUP STYLES
//===================================================
@import "setup";

// VARIABLES
//===================================================
$black: #000;   
$blue: #1893cc;
$green: #bed993;     
$white: #f7f6ed; 

// GENERAL STYLES
// ===================================================

h1, h2, h3, h4, h5, h6{
	font-family: 'Lora', serif;
	font-weight: 700;
}
body{
	font-family: 'Josefin Sans', sans-serif;
}