// IMPORT SETUP STYLES
//===================================================
@import "setup";

// VARIABLES
//===================================================
$black: #000;   
$blue: #1893cc;
$green: #bed993;     
$white: #f7f6ed; 

// GENERAL STYLES
// ===================================================

h1, h2, h3, h4, h5, h6{
	font-family: 'Lora', serif;
	font-weight: 700;
}
body{
	font-family: 'Josefin Sans', sans-serif;
}

header {
	background-image: url("../images/grapes-background.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.grapes img {
	display: block;
	margin: 0 auto;
}
.airMiles {
	margin: auto 0;
}
.airMilesTitle, .promotionsTitle {
	background: $blue;
	color: $white;
}
button {
	border-radius: 5%;
	background: $green;
	color: $white;
}
.gallery {
	background: $white;
}

.promotionsEnding h2 {
	color: $blue;
	background: $white;
}
.promotionsEnding img {
	width: 20%;
}